
:root{
  --fColor:#072227;
  --sColor:#35858B;
  --tColor:#4FBDBA;
  --foColor:#AEFEFF;
}
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  height:100vh
}
ul{
list-style:none
}




