#bodyy{
    background-color: #f9f9fa;
}
.App_reminder {
    width: 65%;
    border-radius: 17px;
    padding: 10px;
    background: #153466;
    margin: 27px auto;
    box-shadow: 1px 2px 5px #4FBDBA;
}

.App_reminder img {
    width: 27%;
    display: block;
    margin: auto;
}

#closeIcon {
    position: absolute;
    top: 10px;
    right: 15px;
    background: #dc3545;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 27px;

}

.reminder-title {
    font-weight: bold;
    color: #fff;
    font-size: 2.3em;
    text-align: center;
}

input, button {
    margin: 10px 0;
}

.list-group-item {
    margin: 5px 0;
    position: relative;
}

.clearReminder {
    margin: 10px 0;
    cursor: pointer;
}

#rem{
    margin: auto;
    width: 50vw;
}
#rem2{
    margin: auto;
    width: 50vw;
}

#btnAdd {
    background-color: #35858B;
    color: white;
    width: 30%;
    margin: 0 auto;
}
#btnAdd:hover{
    background-color: #4FBDBA;
}

#btnRem {
    width: 30%;
    margin: 0 auto;
}